*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

body {
  font-family: Arial, sans-serif; 
  line-height: 1.6;      
  background-color: #222;    
  color: #fff;          
  padding: 20px;   
}

header {
  text-align: center; 
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5em; 
}

#message {
    background-color: #444;
    padding: 15px;
    border-radius: 5px; 
    margin-bottom: 20px; 
    text-align: center;
}

.workout {
    background-color: #444;
    padding: 15px; 
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

ul,ol,li{
    list-style-type: none;
    line-height: 2;    
}

#monday, #tuesday, #wednesday, #thursday, #friday, #saturday, #sunday {
   display: none;
}